@import "tailwindcss";

:root {
  --background: #f8f9ff;
  --foreground: #061d30;

  --primary: #001f3f;
  --secondary: #0061a5;
  --surface: #ffffff;
  --outline: #c3c6cf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-surface: var(--surface);
  --color-outline: var(--outline);

  --font-sans: var(--font-body);
  --font-display: var(--font-display);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display), sans-serif;
}